.Login {
    margin: 0 40px 0 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Login header {
    display: flex;
    justify-content: center;
}

.Login form {
    display: flex;
    flex-direction: column;
}

.Login header img {
    max-width: 80%;
}